################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backend/iCoffeeShop.Server/.vs/iCoffeeShop.Server/v16
